# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Data files
*.csv
*.xlsx

# Model files and artifacts
models/
*.pkl
*.joblib

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm settings
.idea/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
